<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/plantilla :: head}">
</head>

<body>

<header th:replace="~{fragments/plantilla :: header}"></header>
<nav th:replace="~{fragments/plantilla :: navbar}"></nav>

<div class="container mt-5">

    <h2>Formulario de Categoría</h2>

    <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label>Nombre de la categoría</label>
            <input type="text" th:field="*{nombre}" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a th:href="@{/categorias}" class="btn btn-secondary">Regresar</a>

    </form>

</div>

<footer th:replace="~{fragments/plantilla :: footer}"></footer>

</body>
</html>