<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/plantilla :: head}">
</head>

<body>

<header th:replace="~{fragments/plantilla :: header}"></header>
<nav th:replace="~{fragments/plantilla :: navbar}"></nav>

<div class="container mt-5">

    <h2>Formulario de Reserva</h2>

    <form th:action="@{/reservas/guardar}" th:object="${reserva}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label>Nombre del cliente</label>
            <input type="text" th:field="*{nombreCliente}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Fecha</label>
            <input type="date" th:field="*{fecha}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Clase</label>
            <select th:field="*{servicio}" class="form-control" required>
                <option value="">Seleccione una clase</option>
                <option th:each="servicio : ${servicios}"
                        th:value="${servicio.id}"
                        th:text="${servicio.nombre}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a th:href="@{/reservas}" class="btn btn-secondary">Regresar</a>

    </form>

</div>

<footer th:replace="~{fragments/plantilla :: footer}"></footer>

</body>
</html>